%header.jumbotron
  .row
    .col-sm-4
      = image_tag 'logo.png', alt: 'LiveLog logo', class: 'img-responsive'
    .col-sm-8.text-center
      %h1 LiveLog
      %p
        京都大学を中心に活動するアコースティック軽音サークル<br>
        「<a href="http://ku-unplugged.net/" target="_blank">京大アンプラグド</a>」のセットリスト検索システムです。
      = render 'songs/search_form'

= render 'songs/songs_table', songs: @songs, show_live: true

= will_paginate @songs
