%header.jumbotron
  .row
    .col-lg-4.col-md-6
      = image_tag 'logo.png', alt: 'LiveLog logo', class: 'img-responsive'
    .col-lg-8.col-md-6.text-center
      %h1 LiveLog
      %p
        京都大学を中心に活動するアコースティック軽音サークル<br>
        「<a href="http://ku-unplugged.net/" target="_blank">京大アンプラグド</a>」のセットリスト検索システムです。
      = render 'songs/search_form'
