.jumbotron
  %h1= image_tag 'logo.png', alt: 'LiveLog logo', class: 'img-responsive center-block'
  %p.text-center
    京都大学を中心に活動するアコースティック軽音サークル
    %br
    「<a href="http://ku-unplugged.net/" target="_blank">京大アンプラグド</a>」のセットリスト検索システムです。
