- provide(:title, 'プライバシーポリシー')

%header.page-header
  %h1 プライバシーポリシー

%p LiveLog（以下「本サービス」といいます。）を運営及びユーザに提供する者（以下「運営者」といいます。) は、本サービスにおける個人情報の取扱いについて、以下のとおりプライバシーポリシー（以下「本ポリシー」といいます。）を定めます。

%section
  %header.page-header
    %h2 個人情報

  %p 本ポリシーにおいて、個人情報とは、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）に定める「個人情報」をいいます。
  %p 運営者は、以下の情報をはじめとしたユーザーの情報を取得する場合があり、これらの情報には個人情報が含まれることがあります。
  %ul
    %li ユーザーが本サービスに登録する情報（氏名、ニックネームおよびメールアドレス等）
    %li ユーザーのプロフィールに関する情報（プロフィール画像、趣味、年齢その他個人に関する属性情報等）
    %li 通信端末に関する情報（利用したサービス、閲覧したページ・広告、検索した検索キーワード、履歴、利用日時、利用端末、利用環境、利用方法、位置情報、IPアドレス、クッキー情報等）

%section
  %header.page-header
    %h2 利用目的

  %p 運営者は、取得した個人情報を以下の目的のために利用します。
  %ul
    %li ユーザー同士が本サービス上でお互いを認識できるようにするため
    %li 本サービス上において表示するコンテンツや広告等を個別のユーザー向けに最適化するため
    %li 本サービスを改善するため
    %li 本サービスの内容を充実させるため
    %li ユーザーに本サービスに関する情報を連絡するため
    %li 不正または不当な目的で本サービスを利用したり、他のユーザーをはじめとした第三者に損害を発生させたりする等した方の利用をお断りするため
    %li 個人を識別できない形式に加工した統計データを作成するため
    %li ユーザーからの問い合わせに対応するため
    %li ユーザーの本人確認を行うため
    %li 上記の利用目的に付随する目的のため

%section
  %header.page-header
    %h2 第三者提供

  %p 運営者は、以下に定める場合、個人情報を第三者に提供します。
  %ul
    %li 本サービスにおけるユーザーの識別のため、他のユーザー向けに本サービス上でユーザーの個人情報を表示する場合
    %li ユーザーの指示または同意に基づく場合
    %li 個人情報保護法その他の法令で認められる場合

%section
  %header.page-header
    %h2 個人情報の開示等

  %p
    運営者は、ユーザーからの個人情報の開示、内容の訂正、追加または削除、利用の停止、利用目的の通知、消去および第三者への提供の停止（以下「開示等」といいます。）の請求に対して、ユーザーの本人確認を行った上で、遅滞なく対応いたします。
    ただし、個人情報保護法その他の法令により、運営者が開示等の義務を負わない場合は、この限りではありません。

%section
  %header.page-header
    %h2 プライバシーポリシーの変更

  %p
    運営者は、必要に応じて、本ポリシーを変更することがあります。
    なお、法令上ユーザーの同意が必要となるような変更を実施する場合、運営者所定の方法によりユーザーの同意を取得いたします。

%p.text-right
  2018年10月1日 制定
