- provide(:title, 'Forgot Password')
%header.page-header
  %h1 Forgot Password

= form_for :password_reset, url: password_resets_path do |f|

  = render 'users/email_form', f: f

  = f.submit '送信する', class: 'btn btn-primary'
