version: 2

updates:
  - package-ecosystem: bundler
    directory: /
    schedule:
      interval: weekly
      day: friday
      time: '20:00'
      timezone: Asia/Tokyo
    cooldown:
      default-days: 3
    ignore:
      - dependency-name: elasticsearch
        update-types: ['version-update:semver-major', 'version-update:semver-minor']
      - dependency-name: elasticsearch-rails
        update-types: ['version-update:semver-major', 'version-update:semver-minor']
      - dependency-name: elasticsearch-model
        update-types: ['version-update:semver-major', 'version-update:semver-minor']
      - dependency-name: graphiql-rails

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: friday
      time: '20:00'
      timezone: Asia/Tokyo
    cooldown:
      default-days: 3
    ignore:
      - dependency-name: bootstrap
        update-types: ['version-update:semver-major']
      - dependency-name: datatables.net
        update-types: ['version-update:semver-major']
      - dependency-name: react-bootstrap
        update-types: ['version-update:semver-major']

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: friday
      time: '20:00'
      timezone: Asia/Tokyo
    cooldown:
      default-days: 3
