%nav
  %ul.pagination.mb-0
    - Member.joined_years.each do |year|
      %li.page-item{ class: year == @year ? 'active' : '' }
        = link_to_if year != @year, year, admin_members_path(year: year), class: 'page-link' do
          %span.page-link= year
