.playable-time-form
  = form.hidden_field :_destroy

  .playable-time-form-visible-fields.form-row.align-items-end
    .form-group.col
      = form.label :range

      .input-group
        = form.datetime_field :lower, class: 'form-control'
        .input-group-append.input-group-prepend
          %span.input-group-text 〜
        = form.datetime_field :upper, class: 'form-control'

    .form-group.col-3.col-md-2
      %button.btn.btn-block.btn-light{ type: 'button', data: { action: 'form-playable-times#removePlayableTime' } }= icon('fas', 'minus-circle', '削除')
