- provide(:title, "エントリーの編集（ID: #{@entry.id}）")

= render 'form', lives: Live.entry_acceptable.order(:date).to_a.unshift(@entry.song.live).uniq, entry: @entry

%hr

= link_to '削除する', entry_path(@entry), method: :delete, class: 'btn btn-danger', data: { confirm: '本当に削除しますか？' }
