.form-group
  = f.label :email, class: 'col-sm-3 control-label'
  .col-sm-9
    = f.email_field :email, class: 'form-control', placeholder: 'example@ku-unplugged.net'

.form-group
  .col-sm-offset-3.col-sm-9
    = f.submit yield(:button_text), class: 'btn btn-primary'
