- provide(:title, 'Members')
- provide(:description, '京大アンプラグドのメンバー一覧')
%header.page-header.d-none.d-sm-block
  %h1.display-4 Members

%nav.nav.nav-pills.nav-justified.mb-3
  - policy_scope(User).joined_years.each do |year|
    = link_to year, users_path(y: year), class: "nav-item nav-link#{year == @year ? ' active' : ''}"

.row
  = render partial: 'user', collection: @users, cached: true
