- provide(:title, 'Members')
%h1 Members
.row
  - (@users.minimum(:joined)..@users.maximum(:joined)).reverse_each do |y|
    - if @users.exists?(joined: y)
      .col-sm-3
        %h2= y
        %ol
          - @users.where(joined: y).each do |u|
            %li
              = link_to u.full_name, u
