- provide(:title, 'Members')
%header.page-header
  %h1 Members

- if logged_in?
  %aside.form-inline.well.well-sm
    .checkbox
      %label
        = check_box_tag :active, true, false, checked: params[:active] == 'true', onchange: "location.href='#{request.path}?active=' + $(this).is(':checked');"
        1年以内にライブに出演したメンバーのみ表示
- else
  %p プロフィールを公開しているメンバーの一覧です。

- @users.distinct_joined.each_slice(4) do |four_y|
  .row
    - four_y.each do |y|
      .col-sm-3
        %h2= y
        %ol
          = render @users.where(joined: y)

- if logged_in?
  %p * 印が付いているメンバーは管理者です。
