- provide(:title, @user.full_name(logged_in?))
%header.page-header
  .pull-right
    - if logged_in? && !@user.activated?
      =link_to glyphicon(:envelope) + '招待する', new_user_activations_path(@user), class: 'btn btn-info btn-lg'
      - if current_user.admin_or_elder? && !@user.songs.exists?
        = link_to glyphicon(:trash) + 'Delete', @user, method: :delete, class: 'btn btn-danger'
      -# TODO: Implement inactivate function

  %h1
    = @user.full_name(logged_in?)

.table-responsive
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th Live
        %th #
        %th Song
        %th Artist
        %th Members
        - if logged_in?
          %th
    %tbody
      = render @user.songs, show_live: true
