.alert.alert-info.alert-dismissible#alert-donation{ role: 'alert' }
  %strong.mr-2 OB・OG の皆さまへ
  LiveLog の運営にご支援をお願いします。
  = link_to '詳細', donation_path, class: 'alert-link'
  %button.close{ type: 'button', 'data-dismiss': 'alert', 'aria-label': 'Close', 'data-toggle': 'tooltip', 'data-placement': 'bottom', title: '1ヶ月間表示しない' }
    %span{ 'aria-hidden': true } &times;
