%nav.nav.nav-pills.mb-3
  = link_to 'プロフィール', profile_path, class: "nav-item nav-link #{current_page?(profile_path) ? ' active' : ''}"
  = link_to 'メールアドレス', edit_user_path(current_user), class: "nav-item nav-link #{current_page?(edit_user_path(current_user)) ? ' active' : ''}"
