%section.card.mb-3
  .card-body
    .card-title#playlist-label{ data: { show_live: !current_page?(songs.first.live) } }
    %audio.d-block.mb-2#playlist{ controls: true, data: { songs: songs.to_json(only: :id, methods: %i[live_title time_order title audio_url]) } }
    .btn-group
      %button.btn.btn-secondary#playlist-backward{ type: 'button' }= icon 'fas', 'step-backward'
      %button.btn.btn-secondary#playlist-forward{ type: 'button' }= icon 'fas', 'step-forward'
