= form_tag '/songs', method: 'get', class: 'form-inline' do
  .form-group
    = text_field_tag :q, '', class: 'form-control', placeholder: '曲名・アーティスト名'
  = button_tag glyphicon(:search) + '検索', class: 'btn btn-primary'
