.table-responsive
  %table#songs.table.table-striped.table-condensed
    %thead
      %tr
        %th Live
        %th #
        %th Song
        %th Artist
        %th Members
        %th
    %tbody
      = render songs
