.table-responsive
  %table#songs.table.table-striped.table-condensed
    %thead
      %tr
        - if show_live
          %th Live
        %th #
        %th Song
        %th Artist
        %th Members
        %th
    %tbody
      = render songs, show_live: show_live
