#song-table
  %table.table.table-striped.table-sm
    %thead
      %tr
        %th= 'Live' if @live.blank?
        %th #
        %th Song
        %th Artist
        %th Members
        %th
    %tbody
      - songs.each do |song|
        - cache_unless logged_in?, [@live, song] do
          = render song
