- provide(:title, 'Edit Song')
%header.page-header
  %h1 Edit Song

- if @song.persisted? && policy(@song).destroy?
  .text-right
    = @song.delete_link class: 'btn btn-outline-danger'

= render 'form'
