- provide(:title, 'Song Search')
%header.page-header
  %h1 Song Search

.well.well-sm
  = render 'search_form'

%p.text-right
  = page_entries_info

= render 'songs/songs_table', songs: @songs

= will_paginate
