- provide(:title, @song.title)
- provide(:description, strip_tags(@song.comment.presence) || "京大アンプラグドで #{@song.live_title} に演奏された曲")
- provide(:og_type, 'music.song')
- provide(:og_image, @song.youtube_thumbnail('maxresdefault')) if @song.watchable?(current_user)
- content_for :additional_meta_fields do
  - @song.playings.each do |playing|
    %meta{ property: 'music:musician', content: user_url(playing.user) }
= render @song
- if @song.watchable?(current_user)
  :javascript
    $('.song-thumbnail a').click();
