.form-group
  = f.label :password, label
  = f.password_field :password, class: 'form-control', required: true

.form-group
  = f.label :password_confirmation
  = f.password_field :password_confirmation, class: 'form-control'
