- provide(:title, 'Invite user')
- provide(:button_text, 'Invite')
%header.page-header
  %h1<
    = @user.full_name
    に招待メールを送る

= form_for(@user, url: user_activations_path, html: {method: :post, class: 'form-horizontal well'}) do |f|
  = render 'shared/error_messages', object: f.object

  = render 'users/email_form', f: f
