#plays-fields
  %datalist#instruments
    - Play.instruments_for_suggestion.each do |instrument|
      %option{ value: instrument }
  = f.fields_for :plays do |builder|
    = render 'songs/inputs/plays_fields', f: builder

.form-group
  .form-text= button_to_add_member(f)
