- provide(:title, 'Live List')
%header.page-header
  %h1.display-4 Live List

.row
  - Live.years.each do |year|
    - lives = @lives.nendo(year)
    .col-lg-6.mb-3
      %section.card
        %h4.card-header= year
        %table.table.table-hover
          %tbody
            = render lives, cached: true
