- provide(:title, 'ライブ')
- provide(:description, '京大アンプラグドが行ったライブの一覧')

.row
  - @lives.group_by { |live| live.date.nendo }.each do |nendo, lives|
    .col-lg-6.mb-3
      %section.card
        %h5.card-header= nendo
        %table.table.table-hover
          %tbody
            = render partial: 'live', collection: lives, cached: true
