- provide(:title, 'Live List')
%header.page-header
  %h1 Live List
- @lives.first.nendo.downto(@lives.last.nendo).each_slice(2) do |two_y|
  .row
    - two_y.each do |y|
      - y_live = @lives.where(date: nendo_range(y))
      - if y_live.exists?
        .col-sm-6
          .panel.panel-default
            .panel-heading
              %h3.panel-title= y
            %table.table.table-hover
              %thead
                %tr
                  %th Date
                  %th Name
                  %th Place
              %tbody
                = render y_live
