- provide(:title, 'Live List')
%header.page-header
  %h1 Live List

- Live.years.each_slice(2) do |two_y|
  .row
    - two_y.each do |y|
      - y_live = @lives.select { |l| l.nendo == y }
      - if y_live.present?
        .col-sm-6
          .panel.panel-default
            .panel-heading
              %h2.panel-title= y
            %table.table.table-hover
              %tbody
                = render y_live
