- provide(:title, 'Live List')
- provide(:description, '京大アンプラグドが行ったライブの一覧')
%header.page-header.d-none.d-sm-block
  %h1.display-4 Live List

.row
  - Live.years.each do |year|
    - lives = @lives.nendo(year)
    .col-lg-6.mb-3
      %section.card
        %h5.card-header= year
        %table.table.table-hover
          %tbody
            = render partial: 'lives/live', collection: lives, cached: true
