- provide(:title, 'Live List')
%header.page-header
  %h1 Live List

- Live.years.each_slice(2) do |two_years|
  .row
    - two_years.each do |year|
      - lives = @lives.nendo(year)
      - if lives.present?
        .col-sm-6
          .panel.panel-default
            .panel-heading
              %h2.panel-title= year
            %table.table.table-hover
              %tbody
                - lives.each do |live|
                  - cache_unless logged_in?, live do
                    - render live
