/*
 *= require_self
 *= require admin-lte/dist/css/adminlte
 *= require select2/dist/css/select2
 *= require @ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4
 *= require datatables.net-bs4/css/dataTables.bootstrap4.css
 */

@import "font-awesome-sprockets";
@import "font-awesome";

img {
  &.small {
    width: 2rem;
    height: 2rem;
  }
}

.table-admin > tbody > tr > td {
  vertical-align: middle;
}
