$brand-primary: darken(#f0ad4e, 6.5%);
$gray-lighter: lighten($brand-primary, 36%);
$navbar-default-color: #333;
$navbar-default-bg: #f0ad4e;
$navbar-default-link-color: #333;
$navbar-default-link-hover-color: #000;
$navbar-default-link-active-color: #000;
$navbar-default-toggle-hover-bg: #aaa;
$navbar-default-toggle-icon-bar-bg: #444;
$navbar-default-toggle-border-color: #aaa;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}
