$brand-primary: darken(#f0ad4e, 6.5%);
$gray-lighter: lighten($brand-primary, 36%);
$table-bg-hover: lighten($brand-primary, 36%);
$table-bg-accent: lighten($brand-primary, 40%);
$table-border-color: lighten($brand-primary, 30%);
$navbar-default-color: #333;
$navbar-default-bg: #f0ad4e;
$navbar-default-link-color: #333;
$navbar-default-link-hover-color: #000;
$navbar-default-link-active-color: #000;
$navbar-default-toggle-hover-bg: lighten($navbar-default-bg, 20%);
$navbar-default-toggle-icon-bar-bg: #333;
$navbar-default-toggle-border-color: lighten($navbar-default-bg, 10%);
$well-bg: lighten($brand-primary, 40%);
$well-border: lighten($brand-primary, 30%);

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

tr[onclick]:hover {
  cursor: pointer;
}

ol.set-list li {
  @extend .lead
}
