$brand-primary: darken(#f0ad4e, 6.5%);
$brand-bg: #fcf8e3;
$brand-border: #faebcc;
$gray-lighter: $brand-border;
$table-bg-hover: $brand-bg;
$table-bg-accent: lighten($brand-bg, 2%);
$table-border-color: $brand-border;
$list-group-border: $brand-border;
$navbar-default-color: #333;
$navbar-default-bg: #f0ad4e;
$navbar-default-link-color: #333;
$navbar-default-link-hover-color: #000;
$navbar-default-link-active-color: #000;
$navbar-default-toggle-hover-bg: lighten($navbar-default-bg, 20%);
$navbar-default-toggle-icon-bar-bg: #333;
$navbar-default-toggle-border-color: lighten($navbar-default-bg, 10%);
$well-bg: $brand-bg;
$well-border: $brand-border;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

tr[onclick]:hover {
  cursor: pointer;
}

#set-list > li, #player-list > li {
  @extend .lead
}

.panel-default {
  @extend .panel-warning
}

td .list-inline {
  margin-bottom: 0
}
