name: Dependabot

on:
  pull_request:
    branches: ['main']

jobs:
  auto-merge:
    if: github.actor == 'dependabot[bot]'

    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Fetch dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@21025c705c08248db411dc16f3619e6b5f9ea21a # v2.5.0
        with:
          github-token: '${{ secrets.GITHUB_TOKEN }}'

      - name: Enable auto-merge
        if: |
          steps.metadata.outputs.update-type == 'version-update:semver-patch' ||
          (steps.metadata.outputs.dependency-type != 'direct:production' && steps.metadata.outputs.update-type != 'version-update:semver-major') ||
          (steps.metadata.outputs.package-ecosystem == 'github_actions' && steps.metadata.outputs.update-type != 'version-update:semver-major') ||
          (contains(steps.metadata.outputs.dependency-names, 'aws-sdk-s3') && steps.metadata.outputs.update-type != 'version-update:semver-major') ||
          (contains(steps.metadata.outputs.dependency-names, '@sentry/browser') && steps.metadata.outputs.update-type != 'version-update:semver-major')
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
