.col-12.col-sm-6.col-lg-4.mb-3
  %section.card
    .card-body.d-flex.align-items-center
      .my-1
        = member.avatar_image_tag(:medium)
      .ml-2
        %h5.card-title
          = link_to member.short_name, member, class: 'stretched-link text-dark'
        .card-subtitle.text-muted
          = member.played_instruments.take(3).join(', ')
